* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.container {
	width: 1170px;
	margin: auto;
}
header {
	background: #101010;
	height: 100vh;
	background-image: url(vcu684cde8y01.jpg);
}
.nav {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav li {
	display: inline-block;
}
.nav li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 20%;
	padding: 30px 0;
}
.content {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.content h1 {
	text-align: center;
	color: #fff;
	font-family: 'Allura', cursive;
	font-size: 60px;
}
.content p {
	font-family: ubuntu;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
}
.content h1 span {
	color: #3594cc;
}
.content a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.content a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:991px) {
	.container {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	.nav {
		float: none;
		margin-top: 0;
	}
	.nav li a {
		padding: 15px;
		font-size: 18px;
	}
	.nav {
		text-align: center;
	}
	.content {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.content h1 {
		font-size: 70px;
	}
}
@media (max-width:767px) {
	.container {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	.nav {
		float: none;
		margin-top: 0;
	}
	.nav li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav {
		text-align: center;
	}
	.content {
		width: 100%;
		height: auto;
		margin: 15% 0;
	}
	.content h1 {
		font-size: 30px;
	}
}
